<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 일반 UserDao -->
    <bean id="connectionMaker" class="springbook.user.dao.DConnectionMaker"/>

    <bean id="userDao" class="springbook.user.dao.UserDao">
        <property name="connectionMaker" ref="connectionMaker"/>
    </bean>

    <!-- Connection Counting 기능 추가된 UserDao -->
    <bean id="countingConnectionMaker" class="springbook.user.dao.CountingConnectionMaker">
        <constructor-arg name="realConnectionMaker" ref="connectionMaker"/>
    </bean>

    <bean id="userDaoWithCounting" class="springbook.user.dao.UserDao">
        <property name="connectionMaker" ref="countingConnectionMaker"/>
    </bean>

</beans>